.ProductSearch{
    /* width: 1320px; */
    height: 60px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}
